/*---------------------------------------------------*/
/*----------WINDOWS STYLING -------------------------*/

/*CSS for the look of Windows 95, but removing these will mess up the div scaffolding (especially the _containers). Proceed with caution if you want to edit these. */

.window_container {
	margin-top: 22px;
	border: 2px solid;
	border-bottom-color: #535353;
	border-right-color: #535353;
	border-left-color: #dbdbdb;
	border-top-color: #dbdbdb;
	background-color: #272828;
	font-size: 13px;
	padding: 2px;
	margin-left: auto;
	margin-right: auto;
}
.window_container .window_container_inner {
	margin-top: 5px;
	border: 2px solid;
	border-bottom-color: #c7c7c7;
	border-right-color: #c7c7c7;
	border-left-color: #808080;
	border-top-color: #808080;
	background-color: #272828;
	padding: 10px;
	text-align: center;
}
.window_container .window_container_inner ul.window_icons {
	list-style: none;
	padding: 2px 0;
	margin: 0;
}
.window_container .window_container_inner ul.window_icons li {
	display: inline-block;
	padding: 0 5px;
}
ul.window_toolbar {
	list-style: none;
	width: 100%;
	padding: 2px 0;
	margin-top: 5px;
	margin-left: -4px;
	white-space: nowrap;
	overflow-x: hidden;
	overflow-y: hidden;
}
ul.window_toolbar li {
	display: inline-block;
	padding: 0 5px;
}
ul.window_toolbar li .window_toolbar_category {
	display: inline;
	background-color: #808080;
	padding: 2px;
	margin-top: 2px;
	margin-right: 5px;
}
.window_container .window_statusbar {
	border: 2px solid;
	border-bottom-color: #c7c7c7;
	border-right-color: #c7c7c7;
	border-left-color: #808080;
	border-top-color: #808080;
	background-color: #272828;
	white-space: nowrap;
	overflow: hidden;
	width: fill;
	height: 12px;
}
.window_statusbar .window_statusbar_element {
	font-size: 10px;
	white-space: nowrap;
	overflow-x: hidden;
	overflow-y: hidden;
	display: inline-block;
}
.window_statusbar .window_statusbar_element.tags {
	width: 70%;
}
.window_statusbar .window_statusbar_element.extra {
	width: 25%;
}
.window_title {
	background-color: #808080;
	padding: 2px 4px 3px 4px;
	position: relative;
	font-weight: bold;
	color: #bcbcbc;
	font-size: 13px;
	margin: 0;
}
.window_title button {
	border: 2px solid;
	border-bottom-color: #444;
	border-right-color: #444;
	border-left-color: #a6a6a6;
	border-top-color: #a6a6a6;
	background-color: #bfbfbf;
	position: absolute;
	font-size: 9px;
	line-height: 0;
	padding: 1px;
	height: 15px;
	width: 15px;
	top: 2px;
}
.window_title button.window_minimize {
	right: 34px;
}
.window_title button.window_expand {
	right: 18px;
}
.window_title button.window_times {
	right: 2px;
}
.line-container {
	text-align: center;
}
.alignleft {
	float: left;
}
.aligntextleft {
	text-align: center;
}
#hide {
	display: none;
}

/*--------------------------------------------------*/
/*---------DECK- OR TAG-DEPENDENT COLOURING --------*/

/* 	CSS below is a colour scheme to differentiate between different decks or tags.
	Here, if a text is in bold, it takes a different colour depending on whether it is in English vocabulary, German vocabulary, or Trivia */

/* You can customise the naming where placeholders are given and duplicate the stylings to create more colour cases */
/* IMPORTANT: If the tag or deck name contains a colon ":", you need to put this "\" before it. So, it must look like this "\:" to work properly. */

/* COLOUR CASE ONE */
h2.insert_your_deck_name_or_tag_name b,
h3.insert_your_deck_name_or_tag_name b,
h4.insert_your_deck_name_or_tag_name b,
h5.insert_your_deck_name_or_tag_name b {
	color: #e9c46a;
}
div.topbar.insert_your_deck_name_or_tag_name {
	background-color: #e9c46a;
}

/* COLOUR CASE TWO */
h2.insert_your_deck_name_or_tag_name\:test_of_special_symbol_mentioned_above b,
h3.insert_your_deck_name_or_tag_name b,
h4.insert_your_deck_name_or_tag_name b,
h5.insert_your_deck_name_or_tag_name b {
	color: #2a9d8f;
}
/* topbar is the coloured strip at the top of the card to help you distinguish it at the glance */
div.topbar.insert_your_deck_name_or_tag_name {
	background-color: #2a9d8f;
}
/* cloze sets the colour for the elided part in clozes */
insert_your_deck_name_or_tag_name.cl_style .cloze {
	font-weight: bold;
	color: #e9c46a;
}

/* COLOUR CASE THREE */
h2.insert_your_deck_name_or_tag_name b,
h3.insert_your_deck_name_or_tag_name b,
h4.insert_your_deck_name_or_tag_name b,
h5.insert_your_deck_name_or_tag_name b {
	color: #931621;
}
div.topbar.insert_your_deck_name_or_tag_name {
	background-color: #729ee0;
}

/* COLOUR CASE FOUR */
h2.insert_your_deck_name_or_tag_name b,
h3.insert_your_deck_name_or_tag_name b,
h4.insert_your_deck_name_or_tag_name b,
h5.insert_your_deck_name_or_tag_name b {
	color: #729ee0;
}
div.topbar.insert_your_deck_name_or_tag_name {
	background-color: #931621;
}



div[class*="Bloomberg\:\:Studies"].cl_style .cloze {
 font-weight: bold;
 color: #2a9d8f;
}
div[class*="language\:\:german"].cl_style .cloze {
 font-weight: bold;
 color: #931621;
}
div[class*="Interpreting"].cl_style .cloze {
 font-weight: bold;
 color: #729ee0;
}

/*------------------------------------------------*/
/*--------GENERAL --------------------------------*/

/* delete this or modify if looks bad to you */
a[href] {
 color: white;
 text-decoration: underline;
 background-color: #464646;
}

/* stops images from going through the window */
img {
	max-width: 95%;
}

/*-------------------------------------------------*/
/*--------ANKI-SPECIFIC ---------------------------*/

.card {
 color: white;
}
.cl_style .cloze {
 font-weight: bold;
 color: lightgray;
}

/*-------------------------------------------------*/
/*--------LANGUAGE DEPENDENT SETTINGS -------------*/

p[lang] {
	display: none;
}

/* here you can add your own supported languages or modify the existing ones */
/* I made it a little easier to work with the language codes if you don't want to meddle with the CSS here - just use LANG1 for whatever the first language
   would be in your case, LANG2 for the second, LANG3 for the third language of your choice */
/* LANG_IMG means that the field contains an image rather than words in any of the languages */

p[lang="LANG1"].ct_LANG1:not(.ft_LANG2):not(.ft_LANG3),
p[lang="LANG1"].ct_LANG_IMG:not(.ft_LANG3):not(.ft_LANG2),

p[lang="LANG2"].ct_LANG2:not(.ft_LANG1):not(.ft_LANG3),
p[lang="LANG2"].ct_LANG_IMG:not(.ft_LANG3):not(.ft_LANG1),

p[lang="LANG3"].ct_LANG3:not(.ft_LANG1):not(.ft_LANG2) { /* don't put a comma at the end of the last item, as seen here */
	display: block;
}

p[lang="LANG1"].ft_LANG1,
p[lang="LANG2"].ft_LANG2,
p[lang="LANG3"].ft_LANG3 {
	display: block;
}

.flag {
	background-size: 32px 23px;
	border: none;
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 23px;
}

/* suggestion for how flags could look like based on my flag-set: https://imgur.com/a/zhVzUsx */
/* if you have your own flags, change the url('') here to implement them */
/* although CSS does resize the flags automatically, flags with a widely different aspect from the one used here may look strange */

.flag.source.cs_LANG1:not(.fs_LANG2):not(.fs_LANG3):not(.fs_LANG_IMG) { background: url('https://i.imgur.com/xRNoCBc.png') repeat 0 0; }
.flag.source.cs_LANG3:not(.fs_LANG1):not(.fs_LANG2):not(.fs_LANG_IMG) { background: url('https://i.imgur.com/FToYKbm.png') repeat 0 0; }
.flag.source.cs_LANG_IMG:not(.fs_LANG2):not(.fs_LANG3):not(.fs_LANG1) { background: url('https://i.imgur.com/hGUYKlo.png') repeat 0 0; }
.flag.source.cs_LANG2:not(.fs_LANG1):not(.fs_LANG3):not(.fs_LANG_IMG) { background: url('https://i.imgur.com/LvKnkSA.png') repeat 0 0; }

.flag.target.ct_LANG1:not(.ft_LANG2):not(.ft_LANG3):not(.ft_LANG_IMG) { background: url('_LANG1.png') repeat 0 0; }
.flag.target.ct_LANG3:not(.ft_LANG1):not(.ft_LANG2):not(.ft_LANG_IMG) { background: url('https://i.imgur.com/FToYKbm.png') repeat 0 0; }
.flag.target.ct_LANG_IMG:not(.ft_LANG2):not(.ft_LANG3):not(.ft_LANG1) { background: url('https://i.imgur.com/hGUYKlo.png') repeat 0 0; }
.flag.target.ct_LANG2:not(.ft_LANG1):not(.ft_LANG3):not(.ft_LANG_IMG) { background: url('https://i.imgur.com/LvKnkSA.png') repeat 0 0; }

.flag.source.fs_LANG1 { background: url('https://i.imgur.com/xRNoCBc.png') repeat 0 0; }
.flag.source.fs_LANG2 { background: url('https://i.imgur.com/LvKnkSA.png') repeat 0 0; }
.flag.source.fs_LANG3 { background: url('https://i.imgur.com/FToYKbm.png') repeat 0 0; }
.flag.source.fs_LANG_IMG { background: url('https://i.imgur.com/hGUYKlo.png') repeat 0 0; }

.flag.target.ft_LANG1 { background: url('https://i.imgur.com/xRNoCBc.png') repeat 0 0; }
.flag.target.ft_LANG2 { background: url('https://i.imgur.com/LvKnkSA.png') repeat 0 0; }
.flag.target.ft_LANG3 { background: url('https://i.imgur.com/FToYKbm.png') repeat 0 0; }
.flag.target.ft_LANG_IMG { background: url('https://i.imgur.com/hGUYKlo.png') repeat 0 0; }

/*-------------------------------------------------*/
/*--------TABLE -----------------------------------*/

table {
	margin: auto;
	width: 95%;
	font-size: 14px;
	border: 1px white;
}
tr {
	background-color: #3e3d39;
}
tbody th, tfoot th, th.blue {
	background-color: #56638a;
}
thead th, th.green {
	background-color: #63a088;
}
td.highlight.front {
	background-color: #63a088;
	color: white;
}
td.highlight.back {
	background-color: #56638a;
	color: white;
}

/*-------------------------------------------------*/
/*--------UTILITIES -------------------------------*/

.force_size { /* without this most windows would be too small unless they had several lines of content */
	max-height: 100%;
	min-height: 200px;
}
.background {
	background-color: #272828;
}
div.topbar {
 background-color: lightgray;
 position: absolute;
 top: 0px;
 left: 0px;
 right: 0px;
 height: 11px;
}
@media only screen and (max-width: 470px) { /* this ensures that even if you use the cards on mobile, the window stays sufficiently wide */
	.window_container {
		width: 90%;
	}
}
@media only screen and (min-width: 470px) {
	.window_container {
		width: 470px;
	}
}
.custom_icon {
	border: none;
	display: inline-block;
	vertical-align: middle;
}
.custom_icon.arrow { /* icon for showing direction, e.g. ENG --> IMG */
	background: url('https://i.imgur.com/kJXF6kX.png') repeat 0 0;
	background-size: 32px 23px;
	width: 32px;
	height: 23px;
}
.custom_icon.warning { /* icon for showing missing tags more visibly than just error message */
	background: url('https://i.imgur.com/JsfLVqo.png') repeat 0 0;
	background-size: 10px 10px;
	width: 10px;
	height: 10px;
}
